@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:wght@400;500;600;700&display=swap");
@import '../static/fonts/icons-v1.0/style.css';
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  font-family: "Roboto Flex";
  color: #3A3A3A;
  font-size: 16px;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
/*если укажем размерность в px то не будет работать миксин adaptive-value*/
._ibg {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
._ibg img {
  display: none;
}

.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0px 15px;
  text-align: center;
  transition: all 0.3s ease 0s;
  min-height: 48px;
}
.btn_white {
  color: #E89F71;
  background-color: #fff;
}
@media (any-hover: hover) {
  .btn_white:hover {
    background-color: #E89F71;
    color: #fff;
  }
}

._title {
  font-size: 40px;
  font-weight: 700;
  line-height: 1.2;
  text-align: center;
}
@media (max-width: 1270px) {
  ._title {
    font-size: calc(24px + 16 * ((100vw - 320px) / 950));
  }
}

._flyImage._ibg {
  opacity: 1;
  position: fixed;
  z-index: 100;
  transition: all 1s ease 0s;
}

.sliderArrows {
  display: grid;
  grid-template-columns: repeat(2, 48px);
  column-gap: 8px;
}

.sliderArrow {
  pointer-events: auto;
  border-radius: 50%;
  height: 48px;
  background-color: rgba(232, 159, 113, 0.3);
  color: #E89F71;
  font-size: 12px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
.sliderArrow_prev {
  transform: rotate(90deg);
}
.sliderArrow_next {
  transform: rotate(-90deg);
}
@media (any-hover: hover) {
  .sliderArrow:hover {
    color: #fff;
    background-color: #E89F71;
  }
}
.sliderArrow_white {
  box-shadow: 0px 4px 14px 1px rgba(0, 0, 0, 0.16);
  background-color: #fff;
}
@media (any-hover: hover) {
  .sliderArrow_white:hover {
    background-color: #E89F71;
    color: #fff;
  }
}

.swiper-pagination-bullets {
  display: flex;
  flex-wrap: wrap;
}

.swiper-pagination-bullet {
  cursor: pointer;
  flex: 0 0 27px;
  height: 27px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2px 0px;
  background-color: #f9f1e7;
}
.swiper-pagination-bullet:not(:last-child) {
  margin-right: 12px;
}
.swiper-pagination-bullet::after {
  content: "";
  width: 11px;
  height: 11px;
  background-color: black;
  border-radius: 50%;
}
.swiper-pagination-bullet::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 1px solid #E89F71;
  transition: transform 0.3s ease 0s;
  transform: scale(0);
}

.swiper-pagination-bullet-active::after {
  background-color: #E89F71;
}
.swiper-pagination-bullet-active::before {
  transform: scale(1);
}

/*если укажем размерность в px то не будет работать миксин adaptive-value*/
/*если укажем размерность в px то не будет работать миксин adaptive-value*/
body._lock {
  overflow: hidden;
}

._container {
  max-width: 1270px;
  padding: 0 15px;
  margin: 0 auto;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  min-height: 40px;
}
@media (max-width: 767px) {
  .header {
    min-height: 5px;
  }
}
.header._scroll .header__wrapper {
  background-color: rgba(255, 255, 255, 0.8);
}
@media (any-hover: hover) {
  .header._scroll .header__wrapper:hover {
    background-color: rgba(255, 255, 255, 0.9);
  }
}
.header._scroll .header__body {
  min-height: 50px;
}
@media (min-width: 990px) {
  .header._scroll .header__body {
    min-height: 70px;
  }
}
.header__wrapper {
  transition: background-color 0.3s ease 0s;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 50;
}
.header__body {
  transition: min-height 0.3s ease 0s;
  display: flex;
  align-items: center;
  padding: 5px 0;
  min-height: 125px;
  position: relative;
}
@media (max-width: 990px) {
  .header__body {
    min-height: 80px;
  }
}
@media (max-width: 767px) {
  .header__body {
    min-height: 50px;
  }
}
.header__main {
  display: flex;
  align-items: center;
  flex: 0 0 39.8387096774%;
}
@media (max-width: 990px) {
  .header__main {
    flex: 1 1 auto;
  }
}
.header__logo {
  color: #333;
  font-weight: 700;
  font-size: 24px;
  position: relative;
  z-index: 5;
  line-height: 120.8333333333%;
}
.header__search {
  padding-right: 32px;
}
@media (max-width: 1270px) {
  .header__search {
    padding-right: calc(15px + 17 * ((100vw - 320px) / 950));
  }
}
@media (min-width: 990px) {
  .header__search {
    flex: 1 1 auto;
  }
}
.menu {
  flex: 0 1 420px;
}
@media (max-width: 767px) {
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: auto;
    top: 0;
    left: -100%;
    background-color: #fcf8f3;
    transition: left 0.3s ease 0s;
    padding: 70px 15px 30px 15px;
  }
  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 50px;
    top: 0;
    left: -100%;
    background-color: #fcf8f3;
    transition: left 0.3s ease 0s;
    z-index: 2;
  }
  .menu__body._active {
    left: 0;
  }
  .menu__body._active::before {
    left: 0;
  }
}
@media (min-width: 767px) {
  .menu__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}
.menu__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0px 3px;
  padding: 5px 0px;
  position: relative;
}
@media (any-hover: hover) {
  .menu__item { /*будет работать везде где есть мышь. на тач-скринах работать не будет*/ }
  .menu__item:hover .menu__subList {
    transform: translate(0px, 0px);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .menu__item:hover .menu__arrow {
    transform: rotate(-180deg);
  }
  .menu__item:hover .menu__arrow, .menu__item:hover .menu__link {
    color: #E89F71;
  }
}
@media (max-width: 767px) {
  .menu__item {
    margin: 0px 0px 15px 0px;
  }
  .menu__item:last-child {
    margin-bottom: 0;
  }
}
@media (min-width: 767px) {
  .menu__item { /*для устройств с расширением больше 767 и имеющим тачскрины*/ }
  .menu__item._hover .menu__subList {
    transform: translate(0px, 0px);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .menu__item._hover .menu__arrow {
    transform: rotate(-180deg);
  }
  .menu__item._hover .menu__arrow, .menu__item._hover .menu__link {
    color: #E89F71;
  }
}
.menu__link {
  font-weight: 500;
  color: inherit;
  transition: color 0.3s ease 0s;
}
@media (max-width: 767px) {
  .menu__link {
    font-size: 24px;
    font-weight: 600;
  }
}
.menu__arrow {
  margin: 0px 0px 0px 8px;
  transition: all 0.3s ease 0s;
  font-size: 8px;
  background-color: transparent;
}
@media (max-width: 767px) {
  .menu__arrow {
    font-size: 14px;
  }
  .menu__arrow._active {
    transform: rotate(-180deg);
  }
}
.menu__subList {
  position: relative;
  background-color: #E89F71;
  padding: 15px;
  flex: 1 1 100%;
}
@media (min-width: 767px) {
  .menu__subList {
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease 0s;
    transform: translate(0px, 10px);
    min-width: 200px;
    left: 0;
    pointer-events: none;
    position: absolute;
    top: 100%;
    z-index: 5;
  }
}
@media (max-width: 767px) {
  .menu__subList {
    margin: 10px -15px 0px -15px;
  }
}
.menu__subItem:not(:last-child) {
  margin: 0px 0px 5px 0px;
}
@media (max-width: 767px) {
  .menu__subItem:not(:last-child) {
    margin: 0px 0px 10px 0px;
  }
}
.menu__subLink {
  color: #fff;
  line-height: 1.2;
}
@media (any-hover: hover) {
  .menu__subLink:hover {
    text-decoration: underline;
  }
}
@media (max-width: 767px) {
  .menu__subLink {
    font-size: 18px;
  }
}

.searchForm {
  max-width: 473px;
}
.searchForm._active .searchForm__item {
  opacity: 1;
  visibility: visible;
  top: 100%;
}
.searchForm._active .searchForm__icon {
  color: #E89F71;
}
.searchForm__icon {
  position: relative;
  z-index: 5;
  font-size: 22px;
  color: #262F56;
  background-color: transparent;
}
@media (min-width: 990px) {
  .searchForm__icon {
    display: none;
  }
}
.searchForm__item {
  background-color: #fff;
  display: flex;
  align-items: center;
}
@media (max-width: 990px) {
  .searchForm__item {
    box-shadow: 0 0 5px rgba(212, 209, 205, 0.3);
    position: absolute;
    width: 100%;
    left: 0;
    top: -100%;
    z-index: 5;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease 0s;
  }
}
.searchForm__btn {
  flex: 0 0 45px;
  height: 45px;
  font-size: 15px;
  color: #333;
  background-color: transparent;
}
.searchForm__input {
  font-size: 14px;
  color: #616161;
  width: 100%;
  padding: 0px 20px 0px 0px;
}

.actionsHeader {
  position: relative;
  z-index: 5;
  display: grid;
  grid-template-columns: auto;
  grid-auto-flow: column;
  align-items: center;
  gap: 32px;
  /*миксины не срабатывают в parcel*/
}
@media (max-width: 1270px) {
  .actionsHeader {
    gap: calc(15px + 17 * ((100vw - 320px) / 950));
  }
}
.actionsHeader__item_favorites {
  color: #262F56;
  font-size: 24px;
  transition: color 0.3s ease 0s;
}
@media (any-hover: hover) {
  .actionsHeader__item_favorites:hover {
    color: #E89F71;
  }
}
.actionsHeader__item_user {
  overflow: hidden;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
@media (max-width: 1270px) {
  .actionsHeader__item_user {
    width: calc(30px + 10 * ((100vw - 320px) / 950));
  }
}
@media (max-width: 1270px) {
  .actionsHeader__item_user {
    height: calc(30px + 10 * ((100vw - 320px) / 950));
  }
}

.cartHeader__icon {
  color: #262F56;
  font-size: 24px;
  transition: color 0.3s ease 0s;
  position: relative;
  display: block;
}
@media (any-hover: hover) {
  .cartHeader__icon:hover {
    color: #E89F71;
  }
}
.cartHeader__icon span {
  position: absolute;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -10px;
  right: -10px;
  border-radius: 50%;
  background-color: #E89F71;
  color: #fff;
  font-size: 12px;
}
.cartHeader__body {
  background: #f4f5f7;
  border: 1px solid #e0e0e0;
  position: absolute;
  top: 60px;
  right: 0px;
  padding: 15px;
  width: 300px;
  z-index: 5;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease 0s;
  transform: translate(0px, 20px);
}
._active .cartHeader__body {
  opacity: 1;
  visibility: visible;
  transform: translate(0px, 0px);
}
@media (max-width: 990px) {
  .cartHeader__body {
    top: 50px;
  }
}
@media (max-width: 767px) {
  .cartHeader__body {
    position: fixed;
    top: 50px;
    left: 0;
    width: 100%;
  }
}
.cartList {
  overflow: auto;
  max-height: 200px;
}
.cartList__image {
  flex: 0 0 100px;
  height: 100px;
}
.cartList__body {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 0px 0px 10px;
}
.cartList__title {
  color: inherit;
  font-weight: 600;
  transition: color 0.3s ease 0s;
  margin: 0px 0px 0.3125em 0px;
}
@media (any-hover: hover) {
  .cartList__title:hover {
    color: #E89F71;
  }
}
.cartList__quantity {
  font-size: 14px;
  margin: 0px 0px 0.3571428571em 0px;
}
.cartList__delete {
  color: red;
  font-size: 14px;
}
@media (any-hover: hover) {
  .cartList__delete:hover {
    text-decoration: underline;
  }
}
.cartList__item {
  display: flex;
  align-items: flex-start;
}
.cartList__item:not(:last-child) {
  margin: 0px 0px 15px 0px;
}

.iconMenu {
  display: none;
}
@media (max-width: 767px) {
  .iconMenu {
    margin-left: 32px;
    position: relative;
    display: block;
    flex: 0 0 30px;
    height: 18px;
    cursor: pointer;
    z-index: 5;
  }
}
@media (max-width: 767px) and (max-width: 1270px) {
  .iconMenu {
    margin-left: calc(15px + 17 * ((100vw - 320px) / 950));
  }
}
@media (max-width: 767px) {
  .iconMenu span {
    transition: all 0.3s ease 0s;
    top: calc(50% - 1px);
    left: 0;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #333;
  }
  .iconMenu span:first-child {
    top: 0;
  }
  .iconMenu span:last-child {
    top: auto;
    bottom: 0px;
  }
}
@media (max-width: 767px) {
  .iconMenu._active span {
    transform: scale(0);
  }
  .iconMenu._active span:first-child {
    transform: rotate(-45deg);
    top: calc(50% - 1px);
  }
  .iconMenu._active span:last-child {
    transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }
}

.page {
  flex: 1 1 auto;
}
.mainSlider {
  background: #fcf8f3;
}
.mainSlider__container {
  position: relative;
}
@media (min-width: 990px) {
  .mainSlider__container::before {
    content: "";
    background: #f9f1e7;
    position: absolute;
    top: 0;
    width: 100vw;
    right: 376px;
    height: 100%;
  }
}
.mainSlider__body {
  padding: 140px 0px 0px 0px;
  position: relative;
  z-index: 2;
}
@media (max-width: 990px) {
  .mainSlider__body {
    padding: 80px 0px 0px 0px;
  }
}
@media (max-width: 767px) {
  .mainSlider__body {
    padding: 50px 0px 0px 0px;
  }
}
@media (min-width: 990px) {
  .mainSlider__body {
    display: flex;
  }
}
.mainSlider__content {
  align-self: flex-start;
  flex: 0 0 39.8387096774%;
  margin-bottom: 80px;
}
@media (max-width: 1270px) {
  .mainSlider__content {
    margin-bottom: calc(15px + 65 * ((100vw - 320px) / 950));
  }
}
@media (max-width: 990px) {
  .mainSlider__content {
    margin: 0px -15px;
    background-color: rgb(254, 253, 252);
  }
}
.mainSlider__slider {
  flex: 1 1 auto;
  min-width: 0;
  align-self: flex-end;
}
@media (min-width: 990px) {
  .mainSlider__slider {
    padding: 0px 0px 0px 32px;
  }
}

.contentMain {
  position: relative;
  z-index: 5;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 60px;
  padding-bottom: 60px;
}
@media (max-width: 1270px) {
  .contentMain {
    padding-top: calc(15px + 45 * ((100vw - 320px) / 950));
  }
}
@media (max-width: 1270px) {
  .contentMain {
    padding-bottom: calc(15px + 45 * ((100vw - 320px) / 950));
  }
}
@media (min-width: 990px) {
  .contentMain {
    padding: 60px;
    background: rgba(255, 255, 255, 0.9);
    /* Если браузер поддерживает backdrop-filter */
  }
}
@media (min-width: 990px) and (max-width: 1270px) {
  .contentMain {
    padding: calc(1px + 59 * ((100vw - 320px) / 950));
  }
}
@media (min-width: 990px) {
  @supports (-webkit-backdrop-filter: blur(31px)) or (backdrop-filter: blur(31px)) {
    .contentMain {
      background: rgba(255, 255, 255, 0.72);
      backdrop-filter: blur(31px);
    }
  }
}
.contentMain__title {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.2;
}
@media (max-width: 1270px) {
  .contentMain__title {
    font-size: calc(24px + 32 * ((100vw - 320px) / 950));
  }
}
.contentMain__title:not(:last-child) {
  margin: 0px 0px 0.2857142857em 0px;
}
.contentMain__text {
  font-size: 20px;
  color: #898989;
  font-weight: 500;
  line-height: 1.5;
}
@media (max-width: 1270px) {
  .contentMain__text {
    font-size: calc(16px + 4 * ((100vw - 320px) / 950));
  }
}
.contentMain__text:not(:last-child) {
  margin: 0px 0px 2.4em 0px;
}
.contentMain__button {
  font-weight: 600;
  min-height: 78px;
  font-size: 20px;
  background-color: #E89F71;
  color: #fff;
  width: 100%;
}
@media (max-width: 1270px) {
  .contentMain__button {
    min-height: calc(45px + 33 * ((100vw - 320px) / 950));
  }
}
@media (max-width: 1270px) {
  .contentMain__button {
    font-size: calc(16px + 4 * ((100vw - 320px) / 950));
  }
}
@media (any-hover: hover) {
  .contentMain__button:hover {
    background-color: #e38a52;
  }
}

.sliderMain {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
@media (max-width: 990px) {
  .sliderMain {
    align-items: stretch;
    flex-direction: column-reverse;
  }
}
.sliderMain__controls {
  margin: 0px 0px 20px 0px;
  align-self: stretch;
}
@media (max-width: 990px) {
  .sliderMain__controls {
    margin: 10px 0px 20px 0px;
  }
}
.sliderMain__body {
  overflow: visible;
}
@media (min-width: 990px) {
  .sliderMain__body {
    width: 934px;
  }
}
@media (min-width: 990px) and (max-width: 1270px) {
  .sliderMain__body {
    width: calc(290px + 644 * ((100vw - 320px) / 950));
  }
}
@media (max-width: 990px) {
  .sliderMain__body {
    margin: 0px -15px;
  }
}
.sliderMain__slide {
  position: relative;
}
.sliderMain__image {
  padding: 0px 0px 59.1% 0px;
}
.sliderMain__content {
  min-width: 295px;
  max-height: 300px;
  overflow: auto;
  color: inherit;
  display: flex;
  flex-direction: column;
  padding: 24px;
  /*Если браузер поддерживает backdrop-filter*/
}
@media (max-width: 1270px) {
  .sliderMain__content {
    padding: calc(15px + 9 * ((100vw - 320px) / 950));
  }
}
@supports (-webkit-backdrop-filter: blur(31px)) or (backdrop-filter: blur(31px)) {
  .sliderMain__content {
    background: rgba(255, 255, 255, 0.72);
    backdrop-filter: blur(31px);
  }
}
@media (min-width: 767px) {
  .sliderMain__content {
    position: absolute;
    min-width: 350px;
    bottom: 40px;
    right: 40px;
  }
}
@media (min-width: 767px) and (max-width: 1270px) {
  .sliderMain__content {
    bottom: calc(0px + 40 * ((100vw - 320px) / 950));
  }
}
@media (min-width: 767px) and (max-width: 1270px) {
  .sliderMain__content {
    right: calc(0px + 40 * ((100vw - 320px) / 950));
  }
}
.sliderMain__title {
  font-size: 28px;
  font-weight: 600;
  line-height: 1.2;
}
@media (max-width: 1270px) {
  .sliderMain__title {
    font-size: calc(22px + 6 * ((100vw - 320px) / 950));
  }
}
.sliderMain__title:not(:last-child) {
  margin: 0px 0px 0.1428571429em 0px;
}
.sliderMain__text {
  line-height: 1.5;
  color: #898989;
}
.sliderMain__text:not(:last-child) {
  margin: 0px 0px 0.5em 0px;
}
.sliderMain__price {
  display: flex;
  flex-direction: row-reverse;
  line-height: 1.5;
  align-items: center;
  font-weight: 600;
  justify-content: space-between;
  font-size: 20px;
}
@media (max-width: 1270px) {
  .sliderMain__price {
    font-size: calc(16px + 4 * ((100vw - 320px) / 950));
  }
}
.sliderMain__price:before {
  margin: 0px 0px 0px 10px;
  font-size: 12px;
}

.controlsSliderMain {
  display: flex;
  align-items: center;
}
.controlsSliderMain__dots {
  flex: 1 1 auto;
}
@media (min-width: 990px) {
  .controlsSliderMain__dots {
    padding: 0px 20px 0px 0px;
  }
}
@media (max-width: 990px) {
  .controlsSliderMain__dots {
    justify-content: center;
  }
}
@media (max-width: 990px) {
  .controlsSliderMain__arrows {
    display: none;
  }
}

.advantages {
  padding-top: 88px;
  padding-bottom: 88px;
}
@media (max-width: 1270px) {
  .advantages {
    padding-top: calc(30px + 58 * ((100vw - 320px) / 950));
  }
}
@media (max-width: 1270px) {
  .advantages {
    padding-bottom: calc(30px + 58 * ((100vw - 320px) / 950));
  }
}
.advantages__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.advantages__item {
  display: inline-grid;
  padding: 15px 0;
  grid-template: auto auto/85px 1fr;
}
@media (max-width: 990px) {
  .advantages__item {
    min-width: 280px;
  }
}
@media (max-width: 767px) {
  .advantages__item {
    grid-template: auto auto/auto 1fr;
  }
}
.advantages__icon {
  text-align: center;
  align-self: center;
  grid-row: span 2;
}
@media (max-width: 767px) {
  .advantages__icon {
    padding: 0px 15px 0px 0px;
  }
}
.advantages__title {
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  margin: 0px 0px 0.1111111111em 0px;
}
.advantages__text {
  line-height: 1.5;
  color: #898989;
}

.products {
  padding-bottom: 44px;
}
@media (max-width: 1270px) {
  .products {
    padding-bottom: calc(30px + 14 * ((100vw - 320px) / 950));
  }
}
.products__title {
  margin: 0px 0px 0.8em 0px;
}
.products__items {
  display: grid;
  gap: 32px;
  grid-template-columns: repeat(auto-fit, minmax(285px, 1fr));
}
.products__footer {
  padding: 32px 0px 0px 0px;
  text-align: center;
}
.products__more {
  border: 1px solid #E89F71;
  min-width: 245px;
}
.products__more._hold {
  opacity: 0.4;
  cursor: default;
}

.itemProduct {
  background: #f4f5f7;
  display: flex;
  flex-direction: column;
  position: relative;
}
@media (any-hover: hover) {
  .itemProduct:hover .itemProduct__actions {
    opacity: 1;
    visibility: visible;
  }
}
.itemProduct__labels {
  position: absolute;
  z-index: 2;
  display: flex;
  flex-direction: column;
  right: 24px;
  top: 24px;
}
@media (max-width: 1270px) {
  .itemProduct__labels {
    right: calc(10px + 14 * ((100vw - 320px) / 950));
  }
}
@media (max-width: 1270px) {
  .itemProduct__labels {
    top: calc(10px + 14 * ((100vw - 320px) / 950));
  }
}
.itemProduct__label {
  flex: 0 0 48px;
  width: 48px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: 500;
}
.itemProduct__label:not(:last-child) {
  margin: 0px 0px 10px 0px;
}
.itemProduct__label_sale {
  background: #e97171;
}
.itemProduct__label_new {
  background: #2ec1ac;
}
.itemProduct__image {
  padding: 0px 0px 105.6140350877% 0px;
}
.itemProduct__body {
  flex: 1 1 auto;
  padding: 16px 16px 30px 16px;
  display: flex;
  flex-direction: column;
}
.itemProduct__content {
  flex: 1 1 auto;
}
.itemProduct__title {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.2;
  margin: 0px 0px 0.3333333333em 0px;
}
@media (max-width: 1270px) {
  .itemProduct__title {
    font-size: calc(20px + 4 * ((100vw - 320px) / 950));
  }
}
.itemProduct__text {
  color: #898989;
  line-height: 1.5;
  margin: 0px 0px 0.3333333333em 0px;
}
.itemProduct__prices {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  line-height: 1.5;
}
.itemProduct__price {
  font-size: 20px;
  font-weight: 600;
}
@media (max-width: 1270px) {
  .itemProduct__price {
    font-size: calc(16px + 4 * ((100vw - 320px) / 950));
  }
}
.itemProduct__price_old {
  font-size: 16px;
  font-weight: normal;
  margin: 0px 0px 0px 16px;
  color: #b0b0b0;
  text-decoration: line-through;
}
@media (max-width: 1270px) {
  .itemProduct__price_old {
    font-size: calc(14px + 2 * ((100vw - 320px) / 950));
  }
}
@media (any-hover: none) {
  .itemProduct__actions {
    padding: 15px 0px 0px 0px;
  }
}
@media (any-hover: hover) {
  .itemProduct__actions {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease 0s;
    background-color: rgba(58, 58, 58, 0.74);
    z-index: 3;
  }
}

.actionsProducts__body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.actionsProducts__button {
  flex: 1 1 100%;
}
.actionsProducts__button:not(:last-child) {
  margin: 0px 0px 24px 0px;
}
.actionsProducts__button._hold {
  opacity: 0.4;
  cursor: default;
}
.actionsProducts__link {
  display: flex;
  align-items: center;
  color: inherit;
  font-weight: 600;
  transition: color 0.3s ease 0s;
}
.actionsProducts__link::before {
  margin: 0px 10px 0px 0px;
  font-size: 16px;
}
@media (any-hover: hover) {
  .actionsProducts__link {
    color: #fff;
  }
  .actionsProducts__link:hover {
    color: #E89F71;
  }
}

.rooms {
  background: #fcf8f3;
  padding-top: 44px;
  padding-bottom: 44px;
}
@media (max-width: 1270px) {
  .rooms {
    padding-top: calc(30px + 14 * ((100vw - 320px) / 950));
  }
}
@media (max-width: 1270px) {
  .rooms {
    padding-bottom: calc(30px + 14 * ((100vw - 320px) / 950));
  }
}
@media (min-width: 990px) {
  .rooms__container {
    display: flex;
  }
}
.rooms__body {
  flex: 0 0 37.5%;
  position: relative;
  z-index: 5;
  align-self: center;
}
@media (min-width: 990px) {
  .rooms__body {
    padding-right: 80px;
  }
}
@media (min-width: 990px) and (max-width: 1270px) {
  .rooms__body {
    padding-right: calc(30px + 50 * ((100vw - 320px) / 950));
  }
}
@media (max-width: 990px) {
  .rooms__body {
    margin: 0px 0px 30px 0px;
  }
}
.rooms__title {
  text-align: left;
}
.rooms__title:not(:last-child) {
  margin: 0px 0px 0.2em 0px;
}
.rooms__text {
  line-height: 1.5;
  font-weight: 500;
}
.rooms__text:not(:last-child) {
  margin: 0px 0px 24px 0px;
}
.rooms__button {
  background: #E89F71;
  color: #fff;
  min-width: 180px;
}
@media (any-hover: hover) {
  .rooms__button:hover {
    background-color: #e38a52;
  }
}
.rooms__slider {
  flex: 1 1 auto;
  min-width: 0;
  align-self: flex-start;
}
@media (max-width: 480px) {
  .rooms__slider {
    margin: 0px -15px;
  }
}

.sliderRooms {
  position: relative;
}
.sliderRooms .swiper-slide {
  height: 0;
}
.sliderRooms__body {
  overflow: visible;
  position: relative;
}
.sliderRooms__body::before {
  content: "";
  position: absolute;
  top: 0;
  height: 100%;
  width: 100vw;
  left: 0;
  background-color: #fcf8f3;
  z-index: 2;
  transform: translate(-100%, 0px);
}
.sliderRooms__slide {
  width: 372px;
  position: relative;
  overflow: hidden;
  min-height: 585px;
}
@media (max-width: 1270px) {
  .sliderRooms__slide {
    min-height: calc(400px + 185 * ((100vw - 320px) / 950));
  }
}
.sliderRooms__slide.swiper-slide-active .sliderRooms__image {
  height: 100%;
}
@media (max-width: 480px) {
  .sliderRooms__slide {
    width: 100%;
  }
}
.sliderRooms__image {
  transition: height 0.8s ease 0s;
  height: 100%;
}
@media (min-width: 767px) {
  .sliderRooms__image {
    height: 83%;
  }
}
.sliderRooms__content {
  position: absolute;
  color: inherit;
  max-width: 240px;
  left: 24px;
  bottom: 24px;
  padding: 32px;
  /*Если браузер поддерживает backdrop-filter*/
}
@media (max-width: 1270px) {
  .sliderRooms__content {
    left: calc(15px + 9 * ((100vw - 320px) / 950));
  }
}
@media (max-width: 1270px) {
  .sliderRooms__content {
    bottom: calc(15px + 9 * ((100vw - 320px) / 950));
  }
}
@media (max-width: 1270px) {
  .sliderRooms__content {
    padding: calc(15px + 17 * ((100vw - 320px) / 950));
  }
}
@supports (-webkit-backdrop-filter: blur(31px)) or (backdrop-filter: blur(31px)) {
  .sliderRooms__content {
    background: rgba(255, 255, 255, 0.72);
    backdrop-filter: blur(31px);
  }
}
.sliderRooms__content::before {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(100%, 0px);
  width: 48px;
  height: 48px;
  background-color: #E89F71;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sliderRooms__title {
  font-weight: 600;
  font-family: "Roboto Flex";
  font-size: 28px;
}
@media (max-width: 1270px) {
  .sliderRooms__title {
    font-size: calc(24px + 4 * ((100vw - 320px) / 950));
  }
}
.sliderRooms__arrows {
  pointer-events: none;
  position: absolute;
  top: 50%;
  transform: translate(0px, -50%);
  width: calc(100% - 48px);
  left: 24px;
  z-index: 5;
  justify-content: space-between;
}
@media (min-width: 1282px) {
  .sliderRooms__arrows {
    left: -24px;
    width: calc(100% + 48px);
  }
}
@media (min-width: 767px) {
  .sliderRooms__dots {
    position: absolute;
    bottom: 30px !important;
    width: 100%;
    left: 396px !important;
  }
}
@media (max-width: 767px) {
  .sliderRooms__dots {
    justify-content: center;
    padding: 15px 0px 0px 0px;
  }
}

.labelSlider {
  display: grid;
  color: #616161;
  grid-template-columns: auto 27px auto;
  gap: 8px;
  align-items: center;
  justify-content: start;
}
.labelSlider:not(:last-child) {
  margin: 0px 0px 8px 0px;
}
.labelSlider__line {
  height: 1px;
  background-color: #616161;
}
.tips {
  padding-top: 44px;
  padding-bottom: 44px;
}
@media (max-width: 1270px) {
  .tips {
    padding-top: calc(30px + 14 * ((100vw - 320px) / 950));
  }
}
@media (max-width: 1270px) {
  .tips {
    padding-bottom: calc(30px + 14 * ((100vw - 320px) / 950));
  }
}
.tips__title {
  margin: 0px 0px 0.8em 0px;
}

.sliderTips {
  position: relative;
}
.sliderTips__body {
  overflow: hidden;
  padding: 15px 20px;
  margin: 0 -30px;
}
.sliderTips__slide {
  display: flex;
  flex-direction: column;
  transition: box-shadow 0.3s ease 0s;
  height: auto;
}
@media (any-hover: hover) {
  .sliderTips__slide:hover {
    box-shadow: 0 0 32px rgba(97, 97, 97, 0.2);
  }
}
.sliderTips__image {
  padding: 0px 0px 64.1943734015% 0px;
}
.sliderTips__content {
  display: flex;
  flex-direction: column;
  padding: 15px;
  flex: 1 1 auto;
  align-items: flex-start;
}
.sliderTips__title {
  flex: 1 1 auto;
  color: inherit;
  font-weight: 600;
  line-height: 1.2;
  font-size: 24px;
  transition: color 0.3s ease 0s;
}
@media (max-width: 1270px) {
  .sliderTips__title {
    font-size: calc(18px + 6 * ((100vw - 320px) / 950));
  }
}
.sliderTips__title:not(:last-child) {
  margin: 0px 0px 0.3333333333em 0px;
}
@media (any-hover: hover) {
  .sliderTips__title:hover {
    color: #E89F71;
  }
}
.sliderTips__text {
  color: #898989;
  font-size: 14px;
  line-height: 1.5;
}
.sliderTips__dots {
  padding-top: 25px;
  justify-content: center;
}
@media (max-width: 1270px) {
  .sliderTips__dots {
    padding-top: calc(0px + 25 * ((100vw - 320px) / 950));
  }
}
.sliderTips__arrows {
  pointer-events: none;
  position: absolute;
  top: 45%;
  transform: translate(0px, -50%);
  width: calc(100% - 48px);
  left: 24px;
  z-index: 5;
  justify-content: space-between;
}
@media (min-width: 1282px) {
  .sliderTips__arrows {
    left: -32px;
    width: calc(100% + 67px);
  }
}
@media (max-width: 767px) {
  .sliderTips__arrows {
    display: none;
  }
}

.footer__body {
  border-top: 1px solid #D8D8D8;
  display: grid;
  grid-template-columns: 250px 1fr 290px;
  padding-top: 80px;
  padding-bottom: 60px;
  column-gap: 80px;
}
@media (max-width: 1270px) {
  .footer__body {
    padding-top: calc(30px + 50 * ((100vw - 320px) / 950));
  }
}
@media (max-width: 1270px) {
  .footer__body {
    padding-bottom: calc(30px + 30 * ((100vw - 320px) / 950));
  }
}
@media (max-width: 1270px) {
  .footer__body {
    column-gap: calc(0px + 80 * ((100vw - 320px) / 950));
  }
}
@media (max-width: 1282px) {
  .footer__body {
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 290px;
  }
}
@media (max-width: 990px) {
  .footer__body {
    display: block;
  }
}
.footer__main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
@media (max-width: 1282px) {
  .footer__main {
    grid-column: span 2;
    margin-bottom: 40px;
  }
}
@media (max-width: 1282px) and (max-width: 1270px) {
  .footer__main {
    margin-bottom: calc(30px + 10 * ((100vw - 320px) / 950));
  }
}
.footer__logo {
  margin: 0px 0px 0.6666666667em 0px;
}
.footer__text {
  color: #898989;
  line-height: 1.5;
}
.footer__text:not(:last-child) {
  margin: 0px 0px 1em 0px;
}
@media (max-width: 990px) {
  .footer__menu {
    margin-bottom: 40px;
  }
}
@media (max-width: 990px) and (max-width: 1270px) {
  .footer__menu {
    margin-bottom: calc(30px + 10 * ((100vw - 320px) / 950));
  }
}
._footerTitle {
  font-size: 24px;
  line-height: 120.8333333333%;
  color: #333;
  font-weight: 700;
}
@media (max-width: 1270px) {
  ._footerTitle {
    font-size: calc(20px + 4 * ((100vw - 320px) / 950));
  }
}

.contactsFooter {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.contactsFooter__item {
  display: inline-flex;
  align-items: center;
  line-height: 1.5;
  color: #898989;
  transition: color 0.3s ease 0s;
}
.contactsFooter__item::before {
  margin: 0px 8px 0px 0px;
}
.contactsFooter__item:not(:last-child) {
  margin-bottom: 16px;
}
@media (max-width: 1270px) {
  .contactsFooter__item:not(:last-child) {
    margin-bottom: calc(10px + 6 * ((100vw - 320px) / 950));
  }
}
@media (any-hover: hover) {
  .contactsFooter__item:hover {
    color: #E89F71;
  }
}

@media (min-width: 767px) {
  .menuFooter {
    display: flex;
  }
}
@media (min-width: 767px) {
  .menuFooter__column {
    flex: 0 1 33.333%;
  }
}
@media (max-width: 767px) {
  .menuFooter__column {
    margin-bottom: 30px;
    position: relative;
  }
}
@media (max-width: 767px) and (max-width: 1270px) {
  .menuFooter__column {
    margin-bottom: calc(15px + 15 * ((100vw - 320px) / 950));
  }
}
.menuFooter__title {
  cursor: default;
  background-color: transparent;
}
@media (min-width: 767px) {
  .menuFooter__title {
    margin: 0px 0px 0.6666666667em 0px;
  }
}
.menuFooter__title._active::before {
  transform: rotate(-180deg);
}
.menuFooter__list li:not(:last-child) {
  margin: 0px 0px 15px 0px;
}
@media (max-width: 767px) {
  .menuFooter__list {
    padding: 15px 0px 0px 0px;
  }
}
.menuFooter__link {
  color: #616161;
  transition: color 0.3s ease 0s;
  line-height: 1.2;
  font-weight: 500;
}
@media (any-hover: hover) {
  .menuFooter__link:hover {
    color: #E89F71;
  }
}
.menuFooter__arrow {
  display: none;
  transition: transform 0.3s ease 0s;
}
@media (max-width: 767px) {
  .menuFooter__arrow {
    display: block;
    position: absolute;
    top: 5px;
    right: 0;
  }
  .menuFooter__arrow._active {
    transform: rotate(-180deg);
  }
}

.subscribeFooter__title {
  margin: 0px 0px 0.6666666667em 0px;
}
.subscribeFooter__form {
  display: flex;
  position: relative;
}
.subscribeFooter__button {
  flex: 0 0 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  background-color: #E89F71;
  color: #fff;
  margin: 0px 0px 0px 4px;
  transition: background-color 0.3s ease 0s;
}
@media (any-hover: hover) {
  .subscribeFooter__button:hover {
    background-color: #e38a52;
  }
}
.subscribeFooter__input {
  width: 100%;
  padding: 0px 12px;
  background-color: #D9D9D9;
  color: #616161;
  font-size: 16px;
  line-height: 24px;
}
.subscribeFooter__input::placeholder {
  font-size: 16px;
  line-height: 24px;
}

/*
// Стандартный Burger
.iconMenu{
  display:none;
  @media(max-width:$md3){
    display: block;
    position: absolute;
    top: 18px;
    right: 10px;
    width: 30px;
    height: 18px;
    cursor:pointer;
    z-index: 5;
    span{
      transition: all 0.3s ease 0s;
      top: calc(50% - 1px);
      left: 0;
      position: absolute;
      width: 100%;
      height: 2px;
      background-color:$blackColor;
      &:first-child{
        top: 0;
      }
      &:last-child{
        top: auto;
        bottom:0px;
      }
    }
    &._active{
      span{
        transform: scale(0);
        &:first-child{
          transform: rotate(-45deg);
          top: calc(50% - 1px);
        }
        &:last-child{
          transform: rotate(45deg);
          bottom:calc(50% - 1px);
        }
      }
    }
  }
}
*/

/*# sourceMappingURL=styles.css.map */
