@import './common.scss';
@import './ui.scss';
@import './fonts.scss';
@import './mixins.scss';
// Иконочные шрифт
@import '../static/fonts/icons-v1.0/style.css';
// /Иконочные шрифты

// Переменные
$minWidth: 320px;
$maxWidth:1440;
/*если укажем размерность в px то не будет работать миксин adaptive-value*/
$maxWidthContainer:1270;
/*если укажем размерность в px то не будет работать миксин adaptive-value*/
$md1:$maxWidthContainer + 12px;
$md2:990px;
$md3:767px;
$md4:480px;

$mainColor:#3a3a3a;
$orangeColor:#E89F71;
$lightOrangeColor:#f9f1e6;
$grayColor:#898989;
$darkGrayColor:#616161;
$Gray3Color:#D8D8D8;
$Gray4Color:#D9D9D9;
$lightGrayColor:#fcf8f3;
$blackColor:#333;
$whiteColor:#fff;
$darkBlueColor:#262F56;
// /Переменные

// Основная сетка=====================================================
body{
  &._lock{
    overflow: hidden;
  }
}

._container{
  max-width: $maxWidthContainer + px;
  padding: 0 15px;
  margin: 0 auto;
}

.wrapper{
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  &._loaded{

  }
}
// Header============================================================
.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  min-height: 40px; // задается для того чтобы после прокрутки на 40px срабатывал js и навешивался класс
  @media(max-width:$md3){
    min-height: 5px;
  }
  &._scroll{
    .header__wrapper{
      background-color:rgba(255,255,255,0.8);
      @media(any-hover:hover){
        &:hover{
          background-color:rgba(255,255,255,0.9);
        }
      }
    }
    .header__body{
      min-height: 50px;
      @media(min-width:$md2){
        min-height: 70px;
      }
    }
  }
  &__wrapper {
    transition: background-color 0.3s ease 0s;
    position: fixed; // wrapper фиксированный,а сама шапка будет скролиться вместе со страницей (в js будет добавляться класс при скроле)
    width: 100%;
    left: 0;
    top: 0;
    z-index: 50;
  }
  &__container {}
  &__body {
    transition: min-height 0.3s ease 0s;
    display: flex;
    align-items: center;
    padding: 5px 0;
    min-height: 125px;
    position: relative;
    @media (max-width:$md2){
      min-height: 80px;
    }
    @media (max-width:$md3){
      min-height: 50px;
    }
  }
  &__main {
    display: flex;
    align-items:center;
    flex: 0 0 494 / 1240 * 100%;
    // flex: 0 0 math.dev(494, 1240) * 100%;
    // в будущем в sass оператор деления будет заменен на функцию math.dev  есть еще возможность автоматической миграции но я до конца не разобрался, нужно внимательно читать документацию
    @media (max-width:$md2){
      flex: 1 1 auto;
    }
  }
  &__logo {
    color:$blackColor;
    font-weight: 700;
    font-size: 24px;
    position: relative;
    z-index: 5;
    line-height: 29 / 24 * 100%;
    // line-height: math.dev(29, 24) * 100%;
    // в будущем в sass оператор деления будет заменен на функцию math.dev  есть еще возможность автоматической миграции но я до конца не разобрался, нужно внимательно читать документацию
  }
  &__menu {

  }
  &__search {
    @include adaptive-value("padding-right", 32, 15, 1);
    @media (min-width:$md2){
      flex: 1 1 auto;
    }
  }
  &__actions {}
}

.menu {
  flex: 0 1 420px;
  &__body {
    @media(max-width:$md3){
      position: fixed;
      width: 100%;
      height: 100%;
      overflow: auto;
      top: 0;
      left: -100%;
      background-color:$lightGrayColor;
      transition: left 0.3s ease 0s;
      padding:70px 15px 30px 15px;
      &::before{
        content:'';
        position:fixed;
        width: 100%;
        height: 50px;
        top: 0;
        left: -100%;
        background-color:$lightGrayColor;
        transition: left 0.3s ease 0s;
        z-index: 2;
      }
      &._active{
        left: 0;
        &::before{
          left: 0;
        }
      }
    }
  }
  &__list {
    @media (min-width:$md3){
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
    }
  }
  &__item {
    display: flex;
    align-items:center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0px 3px;
    padding: 5px 0px;
    position: relative;
    @media (any-hover: hover){ /*будет работать везде где есть мышь. на тач-скринах работать не будет*/
      &:hover{
        .menu__subList{
          transform: translate(0px, 0px);
          opacity: 1;
          visibility: visible;
          pointer-events: auto;
        }
        .menu__arrow{
          transform: rotate(-180deg);
        }
        .menu__arrow,.menu__link{
          color:$orangeColor;
        }
      }
    }
    @media (max-width:$md3){
      margin:0px 0px 15px 0px;
      &:last-child{
        margin-bottom: 0;
      }
    }
    @media (min-width:$md3){/*для устройств с расширением больше 767 и имеющим тачскрины*/
      &._hover{
        .menu__subList{
          transform: translate(0px, 0px);
          opacity: 1;
          visibility: visible;
          pointer-events: auto;
        }
        .menu__arrow{
          transform: rotate(-180deg);
        }
        .menu__arrow,.menu__link{
          color:$orangeColor;
        }
      }
    }
  }
  &__link {
    font-weight: 500;
    color:inherit;
    transition: color 0.3s ease 0s;
    @media(max-width:$md3){
      font-size: 24px;
      font-weight: 600;
    }
  }
  &__arrow {
    margin:0px 0px 0px 8px;
    transition: all 0.3s ease 0s;
    font-size: 8px;
    background-color:transparent;
    @media(max-width:$md3){
      font-size: 14px;
      &._active{
        transform:rotate(-180deg)
      }
    }
  }
  &__subList {
    position: relative;
    background-color:#E89F71;
    padding: 15px;
    flex: 1 1 100%;
    @media (min-width:$md3){
      opacity: 0;
      visibility: hidden;
      transition: all 0.3s ease 0s;
      transform: translate(0px, 10px);
      min-width: 200px;
      left: 0;
      pointer-events: none;
      position: absolute;
      top: 100%;
      z-index: 5;
    }
    @media (max-width:$md3){
      margin:10px -15px 0px -15px;
    }
  }
  &__subItem {
    &:not(:last-child){
      margin:0px 0px 5px 0px;
      @media(max-width:$md3){
        margin:0px 0px 10px 0px;
      }
    }
  }
  &__subLink {
    color:$whiteColor;
    line-height: 1.2;
    @media (any-hover:hover){
      &:hover{
        text-decoration: underline;
      }
    }
    @media (max-width:$md3){
      font-size: 18px;

    }
  }
}
.searchForm {
  max-width: 473px;
  &._active{
    .searchForm__item{
      opacity: 1;
      visibility: visible;
      top: 100%;
    }
    .searchForm__icon{
      color:$orangeColor;
    }
  }
  &__icon {
    position: relative;
    z-index: 5;
    font-size: 22px;
    color:$darkBlueColor;
    background-color:transparent;
    @media(min-width: $md2){
      display: none;
      
    }
  }
  &__item {
    background-color:$whiteColor;
    display: flex;
    align-items:center;
    @media (max-width:$md2){
      box-shadow: 0 0 5px rgba(212, 209, 205, 0.3);
      position: absolute;
      width: 100%;
      left: 0;
      top: -100%;
      z-index: 5;
      opacity: 0;
      visibility: hidden;
      transition: all 0.3s ease 0s;
    }
  }
  &__btn {
    flex: 0 0 45px;
    height:45px;
    font-size: 15px;
    color:$blackColor;
    background-color:transparent;
  }
  &__input {
    font-size: 14px;
    color:$darkGrayColor;
    width: 100%;
    padding:0px 20px 0px 0px;
  }
}
.actionsHeader {
  position: relative;
  z-index: 5;
  display: grid;
  grid-template-columns: auto;
  grid-auto-flow:column;
  align-items:center;
  @include adaptive-value("gap", 32, 15, 1); /*миксины не срабатывают в parcel*/
//   gap:32px;
  &__item {
    &_favorites {
      color: $darkBlueColor;
      font-size: 24px;
      transition: color 0.3s ease 0s;
      @media(any-hover:hover){
        &:hover{
          color:$orangeColor;
        }
      }
    }
    &_user {
      overflow: hidden;
      border-radius:50%;
      @include adaptive-value("width", 40, 30, 1);
      @include adaptive-value("height", 40, 30, 1);
    }
  }
}
.cartHeader {
  &__icon {
    color:$darkBlueColor;
    font-size: 24px;
    transition: color 0.3s ease 0s;
    position: relative;
    display: block;
    @media (any-hover:hover){
      &:hover {
        color:$orangeColor;
      }
    }
    span{
      position: absolute;
      width: 20px;
      height: 20px;
      display: flex;
      justify-content: center;
      align-items:center;
      top: -10px;
      right: -10px;
      border-radius: 50%;
      background-color:$orangeColor;
      color:$whiteColor;
      font-size: 12px;
    }
  }
  &__body {
    background:#f4f5f7;
    border:1px solid #e0e0e0;
    position: absolute;
    top: 60px;
    right: 0px;
    padding:15px;
    width: 300px;
    z-index: 5;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease 0s;
    transform: translate(0px, 20px);
    ._active &{
      opacity: 1;
      visibility: visible;
      transform: translate(0px, 0px);
    }
    @media (max-width:$md2){
      top: 50px;
    }
    @media(max-width:$md3){
      position: fixed;
      top: 50px;
      left: 0;
      width: 100%;
    }
  }
  &__list {}
}
.cartList {
  overflow: auto;
  max-height: 200px;
  // cartList__image
  &__image{
    flex: 0 0 100px;
    height: 100px;
  }
  // cartList__body
  &__body{
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    padding:0px 0px 0px 10px;
  }
  // cartList__title
  &__title{
    color:inherit;
    font-weight: 600;
    transition: color 0.3s ease 0s;
    margin:0px 0px 5px / 16px * 1em 0px;
    @media (any-hover: hover){
      &:hover{
        color:$orangeColor;

      }
    }
  }
  // cartList__quantity
  &__quantity{
    font-size: 14px;
    margin:0px 0px 5px / 14px * 1em 0px;
  }
  // cartList__delete
  &__delete{
    color:red;
    font-size: 14px;
    @media (any-hover: hover){
      &:hover{
        text-decoration: underline;
      }
    }
  }
  // cartList__item
  &__item{
    display: flex;
    align-items:flex-start;
    &:not(:last-child){
      margin:0px 0px 15px 0px;
    }
  }
}
.iconMenu {
  display:none;
  @media(max-width:$md3){
    @include adaptive-value("margin-left", 32, 15, 1);
    position: relative;
    display: block;
    flex: 0 0 30px;
    height: 18px;
    cursor:pointer;
    z-index: 5;
    span{
      transition: all 0.3s ease 0s;
      top: calc(50% - 1px);
      left: 0;
      position: absolute;
      width: 100%;
      height: 2px;
      background-color:$blackColor;
      &:first-child{
        top: 0;
      }
      &:last-child{
        top: auto;
        bottom:0px;
      }
    }
    &._active{
      span{
        transform: scale(0);
        &:first-child{
          transform: rotate(-45deg);
          top: calc(50% - 1px);
        }
        &:last-child{
          transform: rotate(45deg);
          bottom:calc(50% - 1px);
        }
      }
    }
  }
}
// /Header===========================================================

// Основная сетка===================================================

// First slider
.page {
  flex: 1 1 auto;
  // .page__mainSlider
  &__mainSlider {}
  // .page__advantages
  &__advantages {}
  // .page__products
  &__products {}
}
.mainSlider {
  background:#fcf8f3;
  // .mainSlider__container
  &__container {
    position: relative;
    @media(min-width:$md2){
      &::before{
        content:'';
        background:#f9f1e7;
        position: absolute;
        top: 0;
        width: 100vw;
        right: 376px;
        height: 100%;
      }
    }
  }
  // .mainSlider__body
  &__body {
    padding:140px 0px 0px 0px;
    position: relative;
    z-index: 2;
    @media(max-width:$md2){
      padding:80px 0px 0px 0px;
    }
    @media(max-width:$md3){
      padding:50px 0px 0px 0px;
    }
    @media(min-width:$md2){
      display: flex;
    }
  }
  // .mainSlider__content
  &__content {
    align-self:flex-start;
    flex: 0 0 494 / 1240 * 100%;
    @include adaptive-value("margin-bottom", 80, 15, 1);
    @media(max-width:$md2){
      margin: 0px -15px;
      background-color:rgb(254, 253, 252);
    }
    // background:white;
  }
  // .mainSlider__slider
  &__slider {
    flex: 1 1 auto;
    min-width: 0; // если swiper находится внутри flex элемента или является flex элементом добавляем это сво-во чтобы он не болел 
    align-self:flex-end;
    @media (min-width:$md2){
      padding:0px 0px 0px 32px;
    }
  }
}
.contentMain {
  position: relative;
  z-index: 5;
  padding-left: 15px;
  padding-right: 15px;
  // background:rgba(255 ,255, 255, 0.72);
  @include adaptive-value("padding-top", 60, 15, 1);
  @include adaptive-value("padding-bottom", 60, 15, 1);
  @media(min-width:$md2){
    @include adaptive-value("padding", 60, 1, 1);
    background:rgba(255 ,255, 255, 0.9);
    /* Если браузер поддерживает backdrop-filter */
    @supports ((-webkit-backdrop-filter: blur(31px)) or (backdrop-filter: blur(31px))){
      background:rgba(255 ,255, 255, 0.72);
      backdrop-filter:blur(31px);
    }
  }
  // .contentMain__title
  &__title {
    @include adaptive-value ("font-size", 56, 24, 1);
    font-weight: 700;
    line-height: 1.2;
    &:not(:last-child){
      margin:0px 0px 16px / 56px *1em 0px; // св-во на случай если этот элемент останется последним в блоке - тогда отступ не применится
    }
  }
  // .contentMain__text
  &__text {
    @include adaptive-value ("font-size", 20, 16, 1);
    color:$grayColor;
    font-weight: 500;
    line-height: 1.5;
    &:not(:last-child){
      margin:0px 0px 48px / 20px *1em 0px;
    }
  }
  // .contentMain__button
  &__button {
    font-weight: 600;
    @include adaptive-value("min-height", 78, 45, 1);
    @include adaptive-value("font-size", 20, 16, 1);
    background-color:$orangeColor;
    color:$whiteColor;
    width: 100%;
    @media(any-hover:hover){
      &:hover{
        background-color:#e38a52;
      }
    }
  }
}
.sliderMain {
  display: flex;
  flex-direction:column;
  align-items:flex-end;
  @media (max-width:$md2){
    align-items:stretch;
    flex-direction: column-reverse;
  }
  // .sliderMain__controls
  &__controls {
    margin:0px 0px 20px 0px;
    align-self: stretch;
    @media (max-width:$md2){
      margin:10px 0px 20px 0px;
    }
  }
  // .sliderMain__body
  &__body {
    overflow: visible;
    @media (min-width:$md2){
      @include adaptive-value("width", 934, 290, 1);
    }
    @media(max-width:$md2){
      margin: 0px -15px;
    }
  }
  // .sliderMain__slide
  &__slide {
    position: relative;
  }
  // .sliderMain__image
  &__image {
    padding:0px 0px 59.1% 0px;
  }
  // .sliderMain__content
  &__content {
    min-width: 295px;
    max-height: 300px;
    overflow: auto;
    color:inherit;
    display: flex;
    flex-direction: column;
    @include adaptive-value("padding", 24, 15, 1);
    // background:rgba(255, 255, 255, 0.9);
    /*Если браузер поддерживает backdrop-filter*/
    @supports ((-webkit-backdrop-filter: blur(31px)) or (backdrop-filter: blur(31px))){
    background:rgba(255 ,255, 255, 0.72);
    backdrop-filter:blur(31px);
    }
    @media (min-width:$md3){
      position: absolute;
      min-width: 350px;
      @include adaptive-value("bottom", 40, 0, 1);
      @include adaptive-value("right", 40, 0, 1);
    }
  }
  // .sliderMain__title
  &__title {
    @include adaptive-value("font-size", 28, 22, 1);
    font-weight: 600;
    line-height: 1.2;
    &:not(:last-child){
      margin:0px 0px 4px / 28px *1em 0px;
    }
  }
  // .sliderMain__text
  &__text {
    line-height: 1.5;
    color:$grayColor;
    &:not(:last-child){
      margin:0px 0px 8px / 16px * 1em 0px;
    }
  }
  // .sliderMain__price
  &__price {
    display: flex;
    flex-direction: row-reverse;
    line-height: 1.5;
    align-items:center;
    font-weight: 600;
    justify-content: space-between;
    @include adaptive-value("font-size", 20, 16, 1);
    &:before{
      margin:0px 0px 0px 10px;
      font-size: 12px;
    }
  }
}
.controlsSliderMain {
  display: flex;
  align-items:center;
  // .controlsSliderMain__dots
  &__dots {
    flex: 1 1 auto;
    @media (min-width:$md2){
      padding:0px 20px 0px 0px;
    }
    @media (max-width:$md2){
      justify-content: center;
    }
  }
  // .controlsSliderMain__arrows
  &__arrows {
    @media (max-width:$md2){
      display: none;
    }
  }
}

// /First slider

// Advantages
.advantages {
  @include adaptive-value("padding-top", 88, 30, 1);
  @include adaptive-value("padding-bottom", 88, 30, 1);
  // .advantages__container
  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  // .advantages__item
  &__item {
    display: inline-grid;
    padding: 15px 0;
    grid-template:auto auto / 85px 1fr;
    @media(max-width:$md2){
      min-width: 280px;
    }
    @media(max-width:$md3){
      grid-template:auto auto / auto 1fr;
    }
  }
  // .advantages__icon
  &__icon {
    text-align: center;
    align-self:center;
    grid-row: span 2;
    @media (max-width:$md3){
      padding:0px 15px 0px 0px;
    }
  }
  // .advantages__title
  &__title {
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
    margin:0px 0px 2px / 18px * 1em 0px;
  }
  // .advantages__text
  &__text {
    line-height: 1.5;
    color:$grayColor;

  }
}
// /Advantages

// Products
.products {
  @include adaptive-value("padding-bottom", 44, 30, 1);
  // .products__container
  &__container {}
  // .products__title
  &__title {
    margin:0px 0px 32px / 40px *1em 0px;
  }
  // .products__items
  &__items {
    display: grid;
    gap: 32px;
    grid-template-columns: repeat(auto-fit, minmax(285px, 1fr)); 
  }
  // .products__item
  &__item {}
  // .products__footer{
  &__footer{
      padding:32px 0px 0px 0px;
      text-align: center;
  }
  // .products__more
  &__more {
    border:1px solid $orangeColor;
    min-width:245px;
    &._hold{
      opacity: 0.4;
      cursor:default;
    }
  }
}

  // ._icon-share
  ._icon-share {}
  // ._icon-favorite
  ._icon-favorite {}

.itemProduct {
  background:#f4f5f7;
  display: flex;
  flex-direction: column;
  position: relative;
  @media (any-hover:hover){
    &:hover{
      .itemProduct__actions{
        opacity: 1;
        visibility: visible;
      }
    }
  }
  // .itemProduct__labels
  &__labels {
    position: absolute;
    z-index: 2;
    display: flex;
    flex-direction: column;
    @include adaptive-value("right", 24, 10, 1);
    @include adaptive-value("top", 24, 10, 1);
  }
  // .itemProduct__label
  &__label {
    flex: 0 0 48px;
    width: 48px;
    border-radius:50%;
    display: flex;
    justify-content: center;
    align-items:center;
    color:$whiteColor;
    font-weight:500;
    &:not(:last-child){
      margin:0px 0px 10px 0px;
    }
    // .itemProduct__label_sale
    &_sale {
      background:#e97171;
    }
    &_new{
      background:#2ec1ac;
    }
  }
  // .itemProduct__image
  &__image {
    padding:0px 0px 301px / 285px * 100% 0px;
    
  }
  // .itemProduct__body
  &__body {
    flex: 1 1 auto;
    padding: 16px 16px 30px 16px;
    display: flex;
    flex-direction: column;
  }
  // .itemProduct__content
  &__content {
    flex: 1 1 auto;
  }
  // .itemProduct__title
  &__title {
    @include adaptive-value("font-size", 24, 20, 1);
    font-weight: 600;
    line-height: 1.2;
    margin:0px 0px 8px / 24px * 1em 0px;
  }
  // .itemProduct__text
  &__text {
    color:$grayColor;
    line-height: 1.5;
    margin:0px 0px 8px / 24px * 1em 0px;
  }
  // .itemProduct__prices
  &__prices {
    display: flex;
    align-items:center;
    flex-wrap: wrap;
    line-height: 1.5;
  }
  // .itemProduct__price
  &__price {
    @include adaptive-value("font-size", 20, 16, 1);
    font-weight: 600;
    // .itemProduct__price_old
    &_old {
      @include adaptive-value("font-size", 16, 14, 1);
      font-weight: normal;
      margin:0px 0px 0px 16px;
      color:#b0b0b0;
      text-decoration: line-through;
    }
  }
  // .itemProduct__actions
  &__actions {
    @media (any-hover:none){
      padding:15px 0px 0px 0px;
    }
    @media(any-hover:hover){
      opacity: 0;
      visibility: hidden;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items:center;
      transition: all 0.3s ease 0s;
      background-color:rgba(58, 58, 58, 0.74);
      z-index: 3;
    }
  }
}
.actionsProducts {
  // .actionsProducts__body
  &__body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  // .actionsProducts__button
  &__button {
    flex: 1 1 100%;
    &:not(:last-child){
      margin:0px 0px 24px 0px;
    }
    &._hold{
      opacity: 0.4;
      cursor: default;
    }
  }
  // .actionsProducts__link
  &__link {
    display: flex;
    align-items:center;
    color:inherit;
    font-weight: 600;
    transition: color 0.3s ease 0s;
    &::before{
      margin:0px 10px 0px 0px;
      font-size: 16px;
    }
    @media (any-hover:hover){
      color:$whiteColor;
      &:hover{
        color:$orangeColor;

      }
    }
  }
}


// /Products

// /Основная сетка===================================================

// Footer
.footer {
  // .footer__container
  &__container {}
  // .footer__body
  &__body {
    border-top: 1px solid $Gray3Color;
    display: grid;
    grid-template-columns: 250px 1fr 290px;
    @include adaptive-value("padding-top", 80, 30, 1);
    @include adaptive-value("padding-bottom", 60, 30, 1);
    @include adaptive-value("column-gap", 80, 0, 1);

    @media (max-width:$md1){
      grid-template-rows: auto auto;
      grid-template-columns: 1fr 290px;
    }
    @media (max-width:$md2){
      display: block;
    }
  }
  // .footer__main
  &__main {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    @media (max-width:$md1){
      grid-column: span 2;
      @include adaptive-value("margin-bottom", 40, 30, 1)
    }
  }
  // .footer__logo
  &__logo {
    margin:0px 0px 16px/24px * 1em 0px;
  }
  // .footer__text
  &__text {
    color:$grayColor;
    line-height: 1.5;
    &:not(:last-child){
      margin:0px 0px 1em 0px;
    }
  }
  // .footer__contacts
  &__contacts {}
  // .footer__menu
  &__menu {
    @media (max-width:$md2){
      @include adaptive-value("margin-bottom", 40, 30, 1)
    }
  }
  // .footer__subscribe
  &__subscribe {}
}
._footerTitle {
    @include adaptive-value("font-size", 24, 20, 1);
    line-height: 29 / 24 * 100%;
    color:$blackColor;
    font-weight: 700;
  }
._icon-location {}
  
._icon-phone {}
  
._req {}
  
._email {}
  
._icon-send {}

.contactsFooter {
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  // .contactsFooter__item
  &__item {
    display: inline-flex;
    align-items: center;
    line-height: 1.5;
    color:$grayColor;
    transition: color 0.3s ease 0s;
    &::before{
      margin:0px 8px 0px 0px;
    }
    &:not(:last-child){
      @include adaptive-value("margin-bottom", 16, 10, 1)
    }
    @media (any-hover: hover){
      &:hover{
        color: $orangeColor;
      }
    }
  }
}
.menuFooter {
  @media (min-width:$md3){
    display: flex;
  }
  // .menuFooter__column
  &__column {
    @media (min-width:$md3){
      flex: 0 1 33.333%;
    }
    @media (max-width:$md3){
      @include adaptive-value("margin-bottom", 30, 15, 1);
      position: relative;
    }
  }
  // .menuFooter__title
  &__title {
    cursor:default;
    background-color:transparent;
    @media (min-width:$md3){
      margin:0px 0px 16px/24px * 1em 0px;
    }
    &._active {
      &::before {
        transform: rotate(-180deg);
      }
      }
  }
  // .menuFooter__list
  &__list {
      li{
        &:not(:last-child){
          margin:0px 0px 15px 0px;
        }
    }
    @media (max-width:$md3){
      padding:15px 0px 0px 0px;
    }
  }
  // .menuFooter__link
  &__link {
    color:$darkGrayColor;
    transition: color 0.3s ease 0s;
    line-height: 1.2;
    font-weight: 500;
    @media(any-hover:hover){
      &:hover{
        color:$orangeColor;
      }
    }
  }
  // .menuFooter__arrow
  &__arrow{
    display: none;
    transition: transform 0.3s ease 0s;
    @media(max-width:$md3){
      display: block;
      position: absolute;
      top: 5px;
      right: 0;
      &._active{
        transform:rotate(-180deg)
      }
    }
  }
}
.subscribeFooter {
  // .subscribeFooter__title
  &__title {
    margin:0px 0px 16px/24px * 1em 0px;
  }
  // .subscribeFooter__form
  &__form {
    display: flex;
    position: relative;
  }
  // .subscribeFooter__button
  &__button {
    flex: 0 0 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items:center;
    font-size: 18px;
    background-color:$orangeColor;
    color:$whiteColor;
    margin:0px 0px 0px 4px;
    transition: background-color 0.3s ease 0s;
    @media (any-hover: hover){
      &:hover{
        background-color:#e38a52;
      }
    }
  }
  // .subscribeFooter__input
  &__input{
    width: 100%;
    padding: 0px 12px;
    background-color:$Gray4Color;
    color:$darkGrayColor;
    font-size: 16px;
    line-height:24px;
    &::placeholder{
      font-size: 16px;
      line-height:24px;
    }
  }
}
// /Footer


/*
// Стандартный Burger
.iconMenu{
  display:none;
  @media(max-width:$md3){
    display: block;
    position: absolute;
    top: 18px;
    right: 10px;
    width: 30px;
    height: 18px;
    cursor:pointer;
    z-index: 5;
    span{
      transition: all 0.3s ease 0s;
      top: calc(50% - 1px);
      left: 0;
      position: absolute;
      width: 100%;
      height: 2px;
      background-color:$blackColor;
      &:first-child{
        top: 0;
      }
      &:last-child{
        top: auto;
        bottom:0px;
      }
    }
    &._active{
      span{
        transform: scale(0);
        &:first-child{
          transform: rotate(-45deg);
          top: calc(50% - 1px);
        }
        &:last-child{
          transform: rotate(45deg);
          bottom:calc(50% - 1px);
        }
      }
    }
  }
}
*/


